@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500;1,700&display=swap');
 
:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255, 255, 255,.3);
}
  




*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    

}
   section{
      padding:2rem 7%;
   }
   .heading {
        text-align: center;
        color:#fff;
        text-transform: uppercase;
        padding-bottom: 3.5rem;
        font-size: 4rem;
    }

    .heading span{
        color:var(--main-color);
        text-transform: uppercase;
         
    }  

    .about .row{
        display: flex;
        align-items: center;
        background:var(--black);
        flex-wrap: wrap;

    }





  .container{
    height: 100vh;
    width: 100%;
    background-image: url(images/gogreen1.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;


  }
    .navbar{
        width: 100%;
        height: 15vh;
        margin: auto;
        display: flex;
        align-items: center;
    }
   nav ul li {
     display: inline-block;
     list-style: none;
     margin: 0px 20px;
     text-decoration: none;
     color:black;
  }  
   .content h1{
     font-size: 60px;
     font-weight: 100;
     margin-top: 24px;
     color:cyan;
   }
   .content p{
    font-size: 20px;
    color:gold
  }
   .content{
      margin-left: 10%;
      margin-top: 10%;
   }

   .header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
   }

   .header .logo img {
    height: 6rem;
}
    .header .navbar a{
            margin:0 1rem;
            font-size: 1.6rem;
            color:#fff;
  }
   .header .navbar a:hover{
      color:var(--main-color);
      border-bottom:  .1rem solid var(--main-color);
      padding-bottom: .5rem;
   }

   .home {
       min-height: 100vh;
       display: flex;
       align-items: center;
       background:url(images/gogreen1.jpg) no-repeat;
       background-size: cover;
       background-position: center;
     }

      .home .content{
           max-width: 60rem;
           
           
        }

      .home .content h3{
          font-size: 6rem;
          text-transform: uppercase;
          color:#fff;
      }

      .home .content p{
        font-size: 1rem;
        font-weight: 1.8;
        padding:1rem 0;
        color:#fff;
    }  

    .home .content a{
        font-size: 1rem;
        font-weight: 1.8;
        padding:1rem 0;
        color:cyan;
    }
      
    .about .row{
        display: flex;
        align-items: center;
        background:var(--black);
        flex-wrap: wrap;
        padding:0px;
        top:0; left:0; right:0;
    }
       
     .about {
        background-color: #010103;
     }





    .about .row .image{
        flex:1 1 45rem;
        width:200px;
        padding:0;
        
    }
    .about .row .image img{
        width: 100%;
        background-size:cover;
        padding:0;
        
    }
    .about .row .content{
        flex:1 1 45rem;
        padding:2rem;
    } 
     .about .row .content h2{
         font-size: 3rem;
         color:#fff;

     }
     .about .row .content p{
        font-size: 3rem;
        color:#fff;
        padding:1rem 0;
        line-height: 1.8;


    }

    .about .heading{
        background-color: black;
        
        padding:0;
    }

     .contact .row{
            display: flex;
            align-items: center;
            background:var(--black);
            flex-wrap:wrap;
            gap:1rem;
}

  .contact .row .map{
       flex:1 1 45rem;
       width: 100%;
       object-fit: cover;
}

.contact .row .form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border:var(--border);



}
  .contact .row form .inputBox{
      color:#fff;
      font-size: 2rem;
      padding-left: 2rem;

}
   .contact .row form .inputBox input{
         width: 100%;
         padding:2rem;
         color:#fff;
         text-transform: none;
         background: none;
         


   }
  


























@media (max-width:991px) {
      html{
        font-size: 55%;
      }

      .header{
        padding:1.5rem 2rem;
      }
       
      section{
        padding:2rem;
     }


    }






